<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <appSettings>
    <add key="EmailFrom" value="ASSIST_doNotReply@ssc-fortsmith.com"/>
    <add key="EmailTo" value="8994_MedicalNecessity@ssc-fortsmith.com, 8994_ASSIST@ssc-fortsmith.com"/>
    <add key="EmailToAdmin" value="8994_ASSIST@ssc-fortsmith.com"/>
  </appSettings>
</configuration>
